<% @note.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>

<p>New Note</p>
<%= form_for @note do |f| %>

<%= f.label :caption %>
<%= f.text_field :caption %>

<%= f.label :body %>
<%= f.text_area :body %>

<%= f.submit %>

<% end %>