<%# @video.errors.full_messages.each do |message| %>
    <p><%# message %></p>
<%# end %>

<h2>Create New Photo or Add Youtube Link</h2>
<%= form_for @video, :url => videos_path, :html => { :multipart => true } do |f| %>
  
  <%= f.label :caption %>
  <%= f.text_field :caption %>

  <%= f.label :video %>
  <%= f.file_field :video %>

  <%= f.label :youtube_url %>
  <%= f.url_field :youtube_url %>

  <%= f.submit %>
<% end %>

<!-- http://www.youtube.com/watch?v=aKjVYQ0abOM -->