<div id="window-pane">
	<% @link.errors.full_messages.each do |message| %>
	    <p><%= message %></p>
	<% end %>

	<h2>Create New Link</h2>

	<%= form_for @link do |f| %>
	    <%= f.label :caption %>
	    <%= f.text_field :caption %>
	    <%= f.label :url, "URL" %>
	    <%= f.url_field :url, value: "http://" %>
	    <%= f.submit %>
	<% end %>
</div>
