<% @photo.errors.full_messages.each do |message| %>
    <p><%= message %></p>
<% end %>

<h2>Create New Photo</h2>
<%= form_for @photo, :url => photos_path, :html => { :multipart => true } do |f| %>
  
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <p>(Maximum 24 charachters)</p>

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.submit %>
<% end %>