<% type = post.type %>
<div class='post <%= 'post-'+type.downcase  %> feature width2 height2' data-category="<%= type.downcase  %>" >
		<div class = 'post-caption' >
			<%= post.caption %>
		</div>

		<div class = "<%= 'post-'+type.downcase  %>">
			<%= post.body %>
		</div>

		<div class = 'post-last-comment' >
			<%= "post.comment" %>
		</div>
</div>