<% type = post.type.downcase! %>
<div id="post-<%= post.id %>" class='post <%= 'post-'+type.downcase  %> width2 height2' data-category="<%= type %>" >
		<!-- post body depending on type -->
		<div id="body-<%= post.id %>" class = "<%= 'post-body-'+type %>">
			<% if type == "note" %>
				<%= post.body %>
			<% elsif type == "link" %>
				<% if post.thumbnail != "no_image" %>
					<a href="<%= post.url %>"><%= image_tag(post.thumbnail, :class =>"thumb-img") %></a>
				<% else %>
					<a href="<%= post.url %>" class='string-url'><%= post.url %></a>
				<% end %>
			<% elsif type == "photo" %>
				<div class =  "<%= type %>">
					<%= image_tag post.photo.url(:large) %>
				</div>
			<% else %>
				<div class =  "<%= type %>">
					<a href="<%= post.youtube_url %>"><%= post.youtube_url %></a>
				</div>
			<% end %>
		</div>
		<!-- post caption -->
		<div id="caption-<%= post.id %>" class = 'caption fade-out' >
			<h5 class="lead"><%= post.caption %></h5>
		</div>
		<!-- post comments -->
		<div id="comment-<%= post.id %>" class = 'post-last-comment' >
			<form method="post" action="/comments" class="post-comments">
				<%= token_tag nil %>
				<input type="hidden" name="comment[post_id]" value="<%= post.id %>">
				<input type="text" name="comment[body]" placeholder="<%= post.last_comment %>">
				<input type="image" value=" ">
			</form>
		</div>
		<!-- add a comment overlay -->
		<div class='single-comment-overlay'>

		</div>
		<div class='multi-comment-overlay'>
			<ul class='unstyled'>
				<li>asdfsdaf dsfh dfsh dfs</li>
				<li> sdfh dsfhsdfh sdfh s</li>
				<li> sdfh sdfh fsdh sdf </li>
				<li>sdfh sdf  hsdf</li>
				<li>s dfh sdfh sdfh dsfh </li>
				<li>asdfsdaf dsfh dfsh dfs</li>
				<li> sdfh dsfhsdfh sdfh s</li>
				<li> sdfh sdfh fsdh sdf </li>
				<li>sdfh sdf  hsdf</li>
				<li>s dfh sdfh sdfh dsfh </li>
				<li>asdfsdaf dsfh dfsh dfs</li>
				<li> sdfh dsfhsdfh sdfh s</li>
				<li> sdfh sdfh fsdh sdf </li>
				<li>sdfh sdf  hsdf</li>
				<li>s dfh sdfh sdfh dsfh </li>
								<li> sdfh dsfhsdfh sdfh s</li>
				<li> sdfh sdfh fsdh sdf </li>

			</ul>
		</div>

		<!-- <h1><%= get_size_multiplier(post) %></h1> -->
</div>

