<% type = post.type.downcase! %>
<div id="post-<%= post.id %>" class='post <%= 'post-'+type.downcase  %> feature width2 height2' data-category="<%= type %>" >
		<!-- post caption -->
		<div class = 'post-caption' >
			<%= post.caption %>
		</div>
		<!-- post body depending on type -->
		<div class = "<%= 'post-'+type %>">
			<% if type == "note" %>
				<%= post.body %>
			<% elsif type == "link" %>
				<a href="<%= post.url %>"><%= post.url %></a>
			<% elsif type == "photo" %>
				<div class =  "<%= type %>">
					<%= image_tag post.photo.url(:square) %>
				</div>
			<% else %>
				<%# post.video %>
			<% end %>
		</div>
		<!-- post comments -->
		<div class = 'post-last-comment' >
			<%= "post.comment" %>	
		</div>
		<h1><%= get_size_multiplier(post) %></h1>
</div>


