<div id='admin-box' class='shide' >
	<div id='admin-parts'>
		<div id="admin-title">
			<a class="brand" href="/">Flapjack</a>
		</div>
		<div id="admin-upload">
	    	<h5 class='admin'>Add Content...</h5>
			<ul class="nav">
	      <li>
					<a href="/photos/new">Create Photo</a>
				</li>
				<li>
					<a href="/links/new">Create Link</a>
				</li>
				<li>
					<a href="/notes/new">Create Note</a>
				</li>
				<li>
					<a href="/videos/new">Create Video</a>
				</li>
				<% unless current_user %>
				<li>
					<a href="/users/sign_up" id="sign-up">Sign Up</a>
				</li>
				<li>
					<a href="/users/sign_in">Sign In</a>
				</li>
				<% else %>
				<li>
					<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				</li>
				<% end %>
			</ul>
		</div>
		<div id='admin-filter'>
	    <div class="option-combo">
	    	<h5 class='admin'>Filter Posts...</h5>
	      <ul id="filter" class="nav" data-option-key="filter">
	        <li><a href="#show-all" data-filter="*" class="selected">show all</a></li>
          <li><a href="#photos" data-filter=".post-photo">pictures</a></li>
          <li><a href="#links" data-filter=".post-link">links</a></li>
          <li><a href="#notes" data-filter=".post-note">notes</a></li>
          <li><a href="#videos" data-filter=".post-video">video</a></li>
	      </ul>
	    </div>
		</div>
		<div id='admin-feeder'>			<!--THIS NEEDS CHANGING!!!!!-->
			<h5>Latest Chat...</h5>
			<ul class='unstyled'>
				<% @last_comments.each do |comment| %>
				<li>
          <% if !current_user %>
            <a href="/users/sign_in" data-id="<%=comment.post.id%>" class="follow-text-sign-up"><%= comment.body %></a> <a href="/users/sign_in" class="update-following follow-user-sign-up">follow-<%= comment.user.id %></a>
					<% elsif comment.user == current_user %>
						<a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a>
					<% elsif current_user.following?(comment.user) %>
						<a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a> <a data-user=<%= comment.user.id %> href="/unfollow/comment/<%= comment.id %>" class="update-following unfollow-user">unfollow</a>
					<% else %>
						<a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a> <a data-user=<%= comment.user.id %> href="/follow/comment/<%= comment.id %>" class="update-following follow-user">follow-<%= comment.user.id %></a>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
		<div id='feeder-post'><!--THIS NEEDS CHANGING!!!!!-->
		</div>
	</div>
	<div id='admin-button'>
		<div id="tab">
       <div id="pullout">Flapjack</div>
    </div>
	</div>
</div>
<script>

$('#pullout').click(function() {
  if ($(this).hasClass('revealed')) {
    $('#admin-parts').animate({
      width: "0"
    }, 920);
    $(this).removeClass('revealed');
  } else {
    $('#admin-parts').animate({
      width: "250"
    }, 920);
    $(this).addClass('revealed');
  }
})

// filtering
var $container = $('#iso-container');
// initialize isotope
$container.isotope({
  // options...
});
// filter items when filter link is clicked
$('#filter a').click(function() {
  var selector = $(this).attr('data-filter');
  $container.isotope({
    filter: selector
  });
  return false;
});


$('a.update-following').unbind("click").on('click', function(event)
              {

                  event.preventDefault();
                  var address = $(this).attr('href');
                  var commentID = $(this).attr('href').split("/").pop();
                  var userID = $(this).data('user')

                  if ($(this).hasClass('follow-user'))
                  {

                    $.post(address, function(someresponse) {
                      tester1 = someresponse;
                      if (someresponse.already_following != "1") { //won't add a socket listener or add new posts if already following that user
                        // alert("PAGE FOLLOW")
                        $.get("/follow/user_from_comment/" + commentID, function(response) {
                          var user = response.user_id.toString();
                          addSocketListenerForUser(user.toString());
                          addLastFivePosts(user);
                          //change text to followed
                        })
                      }
                      $('.follow-user[data-user="' + userID + '"]').text("unfollow").attr("href", "/unfollow/comment/" + commentID).attr('class', 'update-following unfollow-user')
                    })
                  } else {
                    $.post(address, function(someresponse) {
                      // alert("PAGE UNFOLLOW")
                      tester1 = someresponse;
                      $('#iso-container').find('[data-user="' + userID +'"]').not('a').remove()
                      $("#iso-container").isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });
                      // if (someresponse.already_following != "1") { //won't add a socket listener or add new posts if already following that user
                        // $.post("/unfollow/comment/" + commentID, function(response) {})
                      // }
                      $('.unfollow-user[data-user="' + userID + '"]').text("follow-" + userID).attr("href", "/follow/comment/" + commentID).attr('class', 'update-following follow-user')
                    })
                  }
              })

</script>
