<div id='admin-box' class='shide' >
	<div id='admin-parts'>
		<div id="admin-title">
			<a class="brand" href="/">Flapjack</a>
		</div>
		<div id="admin-upload">
	    	<h5 class='admin'>Add Content...</h5>
			<ul class="nav">
	      <li>
					<a href="/photos/new">Create Photo</a>
				</li>
				<li>
					<a href="/links/new">Create Link</a>
				</li>
				<li>
					<a href="/notes/new">Create Note</a>
				</li>
				<li>
					<a href="/videos/new">Create Video</a>
				</li>
				<% unless current_user %>
				<li>
					<a href="/users/sign_up">Sign Up</a>
				</li>
				<li>
					<a href="/users/sign_in">Sign In</a>
				</li>
				<% else %>
				<li>
					<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				</li>
				<% end %>
			</ul>
		</div>
		<div id='admin-filter'>
	    <div class="option-combo">
	    	<h5 class='admin'>Filter Posts...</h5>
	      <ul id="filter" class="nav" data-option-key="filter">
	        <li><a href="#show-all" data-filter="*" class="selected">show all</a></li>
	        <li><a href="#photos" data-filter=".post-photo">pictures</a></li>
	        <li><a href="#videos" data-filter=".post-video">video</a></li>
	        <li><a href="#links" data-filter=".post-link">links</a></li>
	        <li><a href="#notes" data-filter=".post-note">notes</a></li>
	      </ul>
	    </div>
		</div>
		<div id='admin-feeder'>			<!--THIS NEEDS CHANGING!!!!!-->
			<h5>Latest Chat...</h5>
			<ul class='unstyled'>
				<% @last_comments.each do |comment| %>
				<li>
					<% if comment.user == current_user %>
						<a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a> 
					<% elsif comment.user.followers.include? current_user %>
						<a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a> <a href="/unfollow/comment/<%= comment.id %>" class="unfollow-user">unfollow</a>
					<% else %>
						<a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a> <a href="/follow/comment/<%= comment.id %>" class="follow-user">follow-<%= comment.user.id %></a>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
		<div id='feeder-post'><!--THIS NEEDS CHANGING!!!!!-->
		</div>
	</div>
	<div id='admin-button'>
		<div id="tab">
       <div id="pullout">Flapjack</div>
    </div>
	</div>
</div>
<script>

$('#pullout').click(function() {
  if ($(this).hasClass('revealed')) {
    $('#admin-parts').animate({
      width: "0"
    }, 920);
    $(this).removeClass('revealed');
  } else {
    $('#admin-parts').animate({
      width: "250"
    }, 920);
    $(this).addClass('revealed');
  }
})

// filtering
var $container = $('#iso-container');
// initialize isotope
$container.isotope({
  // options...
});
// filter items when filter link is clicked
$('#filter a').click(function() {
  var selector = $(this).attr('data-filter');
  $container.isotope({
    filter: selector
  });
  return false;
});
  
</script>
