<div id="iso-container" class="super-list variable-sizes clearfix container-fluid">
	<% @posts.each do |post| %> 
		<%#	 seconds_to_end(post) %>
		<%= render 'post', post: post %>
	<% end %>
</div>

<div id="feed">
	<ul>
				<% @last_comments.each do |comment| %>
					<li><a href="/posts/<%= comment.post.id %>" data-id="<%=comment.post.id%>" class="follow-text"><%= comment.body %></a> | <a href="/follow/comment/<%= comment.id %>" class="follow-user"> <%= comment.user.id %></a></li>
				<% end %>
	</ul>
</div>

<div id="feed-post">
</div>
<!-- <a>ksjdhfkjsdfhkdjs</a> -->
<%# object =  LinkThumbnailer.generate("http://zerply.com") %>
<%# object.images %>

<% @posts.each do |post| %>

	<script>
				// dynamically get sizes
	      $(document).ready(function() {
	      	scale = <%= get_size_multiplier(post) %>
	     		postWidth = $('#post-<%= post.id %>').width();
	     		newWidth = postWidth*scale
					postHeight = $('#post-<%= post.id %>').height();
	     		newHeight = postHeight*scale
	     		$('#post-<%= post.id %>').width(newWidth);
	     		$('#post-<%= post.id %>').height(newHeight);
	     		//$('#post-<%= post.id %>').css({height: 'auto'});
	     		$('#caption-<%= post.id %>').css("transform","scale("+scale+","+scale+")");
	     		$('#body-<%= post.id %>.post-body-note').css("transform","scale("+scale+","+scale+")");
	     		$('#body-<%= post.id %>.post-last-comment').css("transform","scale("+scale+","+scale+")");
	     		$('#body-<%= post.id %>.post-last-comment').css("transform-origin","top left");

	     		$('#comment-<%= post.id %>').css("transform","scale("+scale+","+scale+")");
	     		$('#comment-<%= post.id %>').css("transform-origin","top left");
				});

	</script>
	<% end %>
	<%= render "post_js" %>
 	